*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  margin: 0 auto;
  padding: 16px 12px;
  background-color: #252644;
  color: #f1f3f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a, a:active{
  color: #f1f3f2;
}